In [1]:
import pandas as pd
import torch

In [2]:
ar_path = 'Darknet_architecture.csv'

In [3]:
df = pd.read_csv(ar_path)
df['Filter Number'] = df['Filter Number'].fillna(0).astype('Int64')
df

   Layer Type  Kernel Size  Filter Number  Stride  Padding
0        Conv            7             64       2        3
1    Max_Pool            2              0       2        0
2        Conv            3            192       1        1
3    Max_Pool            2              0       2        0
4        Conv            1            128       1        0
5        Conv            3            256       1        1
6        Conv            1            256       1        0
7        Conv            3            512       1        1
8    Max_Pool            2              0       2        0
9        Conv            1            256       1        0
10       Conv            3            512       1        1
11       Conv            1            256       1        0
12       Conv            3            512       1        1
13       Conv            1            256       1        0
14       Conv            3            512       1        1
15       Conv            1            256       1        0
16       Conv            3            512       1        1
17       Conv            1            512       1        0
18       Conv            3           1024       1        1
19   Max_Pool            2              0       2        0
20       Conv            1            512       1        0
21       Conv            3           1024       1        1
22       Conv            1            512       1        0
23       Conv            3           1024       1        1
24       Conv            3           1024       1        1
25       Conv            3           1024       2        1
26       Conv            3           1024       1        1
27       Conv            3           1024       1        1

In [4]:
def call_architecture_as_lst(path, head_label=False):
    df = pd.read_csv(ar_path)
    df['Filter Number'] = df['Filter Number'].fillna(0).astype('Int64')
    architecture_arr = df.to_numpy()
    if head_label:
        return architecture_arr, list(df.columns)
    return architecture_arr

In [5]:
call_architecture_as_lst(ar_path, head_label=True)

(array([['Conv', 7, 64, 2, 3],
        ['Max_Pool', 2, 0, 2, 0],
        ['Conv', 3, 192, 1, 1],
        ['Max_Pool', 2, 0, 2, 0],
        ['Conv', 1, 128, 1, 0],
        ['Conv', 3, 256, 1, 1],
        ['Conv', 1, 256, 1, 0],
        ['Conv', 3, 512, 1, 1],
        ['Max_Pool', 2, 0, 2, 0],
        ['Conv', 1, 256, 1, 0],
        ['Conv', 3, 512, 1, 1],
        ['Conv', 1, 256, 1, 0],
        ['Conv', 3, 512, 1, 1],
        ['Conv', 1, 256, 1, 0],
        ['Conv', 3, 512, 1, 1],
        ['Conv', 1, 256, 1, 0],
        ['Conv', 3, 512, 1, 1],
        ['Conv', 1, 512, 1, 0],
        ['Conv', 3, 1024, 1, 1],
        ['Max_Pool', 2, 0, 2, 0],
        ['Conv', 1, 512, 1, 0],
        ['Conv', 3, 1024, 1, 1],
        ['Conv', 1, 512, 1, 0],
        ['Conv', 3, 1024, 1, 1],
        ['Conv', 3, 1024, 1, 1],
        ['Conv', 3, 1024, 2, 1],
        ['Conv', 3, 1024, 1, 1],
        ['Conv', 3, 1024, 1, 1]], dtype=object),
 ['Layer Type', 'Kernel Size', 'Filter Number', 'Stride', 'Padding'])

In [6]:
df = pd.read_csv('test.csv')
df

      000001.jpg  000001.txt
0     000002.jpg  000002.txt
1     000003.jpg  000003.txt
2     000004.jpg  000004.txt
3     000006.jpg  000006.txt
4     000008.jpg  000008.txt
...          ...         ...
4946  009956.jpg  009956.txt
4947  009957.jpg  009957.txt
4948  009960.jpg  009960.txt
4949  009962.jpg  009962.txt
4950  009963.jpg  009963.txt

[4951 rows x 2 columns]